<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body>
    <div id="page">
      <h1>Aqualin</h1>
      <form id="newGameForm" method="post" action="/new">
        <button type="submit" class="startNewGame" data-cy="newGame">New game</button>
      </form>
      <form id="gameFromFileForm" method="post" action="/startGameFromFile">
        <button type="submit" class="startNewGame" data-cy="newGameFromFile">New
          example game from file</button>
      </form>
    </div>
  </body>
</html>
