<html>
  <head><title> Hi {{username}}! </title></head>
  <body>
    <p>Your Password is succesfully reset.</p>
    <p>
      <a href="{{link}}">{{link}}</a>
    </p>
    <p>Best reagards,</p>
    <p>The Aqualin team.</p>
  </body>
</html>
