<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body>
    <div id="page">
      <h1>Aqualin</h1>
      <form id="form" method="post" action="/users/resetPassword">
        <label for="password">Enter your new password:</label>
        <input type="password" name="password" />
        <input name="id" type="hidden" value="{{id}}" />
        <input name="token" type="hidden" value="{{token}}" />
        <button type="submit" class="resetPassword">Submit</button>
      </form>

    </div>
  </body>
</html>
