body {
  background: linear-gradient(
      217deg,
      rgba(94, 96, 230, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(147, 217, 238, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 100vh;
}
#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 50px;
  font-weight: bolder;
  color: #005379;
  margin: 30px;
}
h2 {
  font-size: 30px;
  font-weight: bolder;
  color: #005379;
}
#game {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#playerSide {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#boardSide {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#riverSide {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#hintSide {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.board {
  border-radius: 4px;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(6, 80px);
  grid-auto-flow: row;
  background-color: #a9cce3;
  padding: 20px;
  width: auto;
}

#river {
  border-radius: 4px;
  display: grid;
  gap: 0;
  grid-template-rows: repeat(6, 80px);
  background-color: #a9cce3;
  padding: 20px;
  width: 80px;
}
.cell {
  background-color: #005379;
  color: #fdebd0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  border: thin double #fdebd0;
  text-decoration: none;
}
.emptyCell {
  color: #fdebd0;
  border-radius: 5px;
  font-size: 150%;
  border: thin double #fdebd0;
}

.headerBoardSide {
  padding-top: 10px;
}
p {
  font-size: 25px;
  color: #5b2c6f;
  font-weight: bolder;
}
.playerPlays {
  color: orange;
}

.selected,
.selectable:hover {
  border-width: 8px;
}

.errorMessage {
  font-size: 205px;
  color: #5b2c6f;
  font-weight: bolder;
  padding: 10px;
  background-color: #fdebd0;
}

.startNewGame {
  font-size: 25px;
  color: #fdebd0;
  font-weight: bolder;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #005379;
  text-decoration: none;
}

#scorePanel {
  margin: 40px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #fdebd0;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #005379;
  align-items: center;
}
.winner {
  color: green;
}

.turnPanel {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #fdebd0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #005379;
  align-items: center;
  height: 100px;
  justify-content: space-around;
}
span {
  color: orange;
  font-weight: bold;
}
.sealedClusterToken {
  background: linear-gradient(
    -45deg,
    transparent 19%,
    #a9cce3 19%,
    #a9cce3 31%,
    transparent 31%,
    transparent 69%,
    #a9cce3 69%,
    #a9cce3 81%,
    transparent 81%
  );
  background-size: 7px 7px;
}
.movableClusterToken {
  border-width: 8px;
  border-color: #005379;
}
.filter-red {
  background-color: rgba(250, 7, 7, 0.6);
}

.filter-green {
  background-color: rgba(35, 151, 6, 0.6);
}

.filter-pink {
  background-color: rgba(241, 157, 209, 0.6);
}

.filter-lightblue {
  background-color: rgba(131, 205, 240, 0.6);
}

.filter-yellow {
  background-color: rgba(232, 236, 18, 0.6);
}
.filter-purple {
  background-color: rgba(117, 24, 145, 0.6);
}
.filter-olive {
  filter: invert(26%) sepia(80%) saturate(387%) hue-rotate(63deg)
    brightness(91%) contrast(96%);
}

.dot {
  background-color: #7fbee7;
}

.hintPanel {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fdebd0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #005379;
  align-items: center;
  justify-content: space-around;
}
.whiteButton {
  font-size: 14px;
  color: #005379;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fdebd0;
}
.hintForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: start;
}
.radioElement {
  width: 100%;
  padding: 5%;
}
