{
  "singleQuote": false,
  "trailingComma": "all",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
