<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body>
    <div id="page">
      <h1>Aqualin</h1>
      <div id="game">
        <div id="playerSide">
         <div> Turn : {{ gameState.playerTurn }}</div>
          <div id="scorePanel">
        {{#if score}}
          <div class="score">{{#renderScore score}}{{/renderScore}}</div>
          {{/if}}
        
      </div>
      <a href="/new" class="startNewGame">New game</a>
        </div>
        
        <div id="boardSide">
          <h2>Board</h2>
          
          <div class="board">
            {{#each gameState.board}}
              {{#each this}}
                {{! call renderCell with the game State, the row index and column index
                 we need to go up twice to recover the gameState, "this" is the cell}} 
                {{#renderCell this ../../gameState @../index @index}}{{/renderCell}}
              {{/each}}
            {{/each}}
          </div>
          {{#if message}}
          <div class="errorMessage">{{message}}</div>
          {{/if}}
        </div>
        <div id="riverSide">
          <h2>River</h2>
          <div id="river">
            {{#each gameState.river}}
              {{#renderRiver this ../gameState @index}}{{/renderRiver}}
            {{/each}}
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
