<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body>
    <div id="page">
      <h1>Aqualin</h1>
      <a href="/new" class="startNewGame">New game</a>
      <a href="/startGameFromFile" class="startNewGame">New example game from
        file</a>
    </div>
  </body>
</html>
