<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body>
    <div id="page">
      <h1>Aqualin</h1>
      <form id="form" method="post" action="/new">
        <button type="submit" class="startNewGame">New game</button>
      </form>
      <form id="form" method="post" action="/startGameFromFile">
        <button type="submit" class="startNewGame">New example game from file</button>
      </form>
    </div>
  </body>
</html>
