<html>
  <head><title>Reset Your Password {{data.username}}</title></head>
  <body>
    <h1>Click this to reset your password!</h1>
    <p>
      <a href="{{data.link}}">{{data.link}}</a>
    </p>
    <p>Caution: this link expires in 60 minutes.</p>
    <p>Best reagards,</p>
    <p>The Aqualin team.</p>
  </body>
</html>
